<!--<!DOCTYPE html>-->
<!--<html lang="vi">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<!--    <title>Footer Example</title>-->

<!--</head>-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<body>
<div th:fragment="footer">
    <!-- Footer -->
    <footer>
        <div class="footer-container">
            <div class="footer-left">
                <h5>Thông tin</h5>
                <p>Địa chỉ: 123 Đường ABC, TP. XYZ</p>
                <p>Giờ làm việc: 8:00 - 17:00</p>
            </div>
            <div class="footer-right">
                <h5>Liên Hệ</h5>
                <p>Email: lienhe@example.com</p>
                <p>Điện thoại: 0123 456 789</p>
            </div>
        </div>
    </footer>
</div>
</body>
</html>
