.card{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: 100vh;
    gap: 10px;
}
.infor-movie ul{
    list-style-type: none;
}
.infor-movie a{
    color: black;
    font-size: 30px;
    text-decoration: none;
}