
.nav-item-main{
    justify-content: right;
    padding-right: 20px;
}
.navbarmain{
    /*loai bo dau cham*/
    list-style-type: none;
    /*xep ngang*/
    display: flex;
    /*justify-content: center;*/
    height: 100px;
    align-content: center;
    width: 100%;
    position: fixed;
}
.navbarmain li{
    /*giu cac muc tren cung 1 dong*/
    display: inline-block ;
    gap: 10px;
    padding-top: 25px;
    font-size: 28px;
}
.navbarmain a{
    /*loai bo gach chan*/
    text-decoration: none;
    color: black;
    margin-right: 30px;
}
.nav-item{
    justify-content: left;
    padding-left: 40px;
}