<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p id="demo"></p>
<script>
    // function mui ten
    // const users= {
    //     firstName : 'John',
    //     // getName: () => console.log(this.firstName)
    //     getName(){
    //         const logName = () => console.log(this.firstName)
    //         logName()
    //     }
    // }
    // users.getName()
    // for/of
    const car =["BWM", "Mini"]
    let text = ""
    for(let x of car){
        text+= x+""
    }
    document.getElementById("demo").innerHTML =text
    console.log(text)
</script>
</body>
</html>