
.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.colum {
    flex: 1;
    min-width: 200px;
    margin: 20px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-container a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: underline;
}

.footer hr{
    height: 2px;
    background-color: black;
    border: none
}
