.navbar_main {
    background-color: black;
    text-align: right;
    padding: 10px 20px;
}

.navbar_main button {
    background-color: transparent;
    color: white;
    border: 1px solid white;
    padding: 8px 16px;
    margin-left: 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.navbar_main button:hover {
    background-color: white;
    color: black;
}
